.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  position: relative;
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      // float: left;
      position: absolute;
    }
    &--middle {
      position: absolute;
      margin-bottom: 0px;
      left: 168px;
      cursor: default;
      &:hover {
        color: $color-primary;
        background-color: $color-grey-light-1;
      }
    }
    &--next {
      // float: right;
      position: absolute;
      right: 35px;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
